<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

## Data Science Ecosystem

This notebook will summarize learnings from the Tools of Data Science module of the IBM Introduction to Data Science specialization, focusing on the Data Science Ecosystem.

__Objectives:__
* Outline some data science languages
* Outline some tools used in data science
* Provide examples of arithmetric expressions

Data Scientists use a range of languages in their work.
Some of the most commonly used languages are:
1. Python
2. R
3. SQL
4. Java

Some common libraries, meaning "reusable chunks of code", used by Data Scientists are:
1. Pandas
2. NumPy
3. Matplotlib

Data Scientists also use a variety of tools in their work. The table below outlines three Development Environment tools used in Data Science:

|Development Environmment Tools|
|:-----------------|
|Jupyter|
|RStudio|
|Visual Studio Code|

Next, we are looking at a couple of examples of evaluating arithmetic expressions in Python.

In [19]:
#This is an example of a simple arithmetic expression to multiply then add an integer.
(3*4)+5

17

In [24]:
#This is an example of an expression that converts 200 minutes into hours.
(200/60)

3.3333333333333335

### Author:
Torun  H